button {
  border: 1px solid var(--button-theme);
  border-radius: 5px;
  width: 10vw;
  height: 6vh;
  color: var(--button-theme);
  font-size: medium;
  font-weight: 600;
  transition-duration: 0.5s;
  background-color: transparent;
}

button:hover {
  background-color: var(--button-theme);
  color: white;
}
