.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgb(196, 127, 127); */
    min-width: 100vw;
    position: fixed;
    height: 15vh;
}

.search-dropdown{
     width: 800px;
     display: flex;
     align-items: center;
     
   

}
.login-signup{
    width: 300px;
    display: flex;
    position: relative;
    left: 15px;
    gap: 15px;
    
}