.search-container {
  width: 600px;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar {
  position: relative;
}
.search-icon {
  position: absolute;
  top: 0;
  left: 10px;
  z-index: 10;
  height: 40px;
  display: flex;
  align-items: center;
  color: var(--button-theme);
  font-size: larger;
  
}
/* mdi:search */



.search-input {
  input {
    width: 500px;
    height: 40px;
    padding-left: 35px;
    border-radius: 10px;
    border: 1px solid var(--button-theme);
    font-size: 15px;

  }

  input:focus {
    outline: none;
  }
}
.login-container {
  color: red;
}

/* .search-bar:focus{
    .search-icon {
    display: none;
  }
} */
