.top-carausel{
    height: 50vh;
}

.top-carousel-container{
    
    /* width: 100vw; */
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    
    
} 

.top-carousel-title{
    font-size: 34px;
    padding-left: 40px;
    font-weight: 600;
}